$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-black-1: rgb(71, 57, 57);
$color-orange: #e48131;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 1rem;
$gutter-horizontal: 1rem;

// FONT
$default-font-size: 1.6rem;
