body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
  // padding: 2rem;
}

.heading-primary {
  color: $color-white;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    &-span {
      color: $color-orange;
    }
  }

  &--sub {
    display: block;
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    animation: moveInRight 1s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
}

.heading-secondary-white {
  font-size: 3.5rem;
  color: white;
}

.heading-tertiary {
  font-size: $default-font-size;
  color: $color-black;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
}

// Typography for the popup for the projects
.popup {
  &__heading {
    color: $color-black;
    font-size: 2.6rem;
    line-height: 1.2;
  }

  &__subheading {
    color: $color-grey;
    font-size: 1.5rem;
  }

  &__description {
    color: $color-black;
    font-size: 1.4rem;
  }
}
